/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
  scroll-behavior: smooth;
}
@media (min-height: 500px) {
  .h_scrll-md.tableFixHead {
    height: calc(100vh - 350px) !important;
    margin-bottom: 0 !important;
  }
  .h_scrll-md-hvAdvance.tableFixHead {
    height: calc(100vh - 400px) !important;
  }
}
.h_scrll-md.tableFixHead,
.h_scrll-md-hvAdvance.tableFixHead {
  height: 400px;
}
.tableFixHead th,
.tableFixHead td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tableFixHead tr > td:hover {
  overflow: visible;
  white-space: unset;
  overflow: hidden;
}

a {
  --bs-link-color: #4154f1 !important;
}
.col_action {
  text-align: center;
  opacity: 0.3;
}
.table tbody tr:hover .col_action {
  opacity: 1;
}
.table tbody tr:hover .col_action .btn-outline-secondary {
  color: #4154f1;
}
.invalid-feedback {
  font-size: 0.8em !important;
}
.toast-info::before,
.toast-success::before,
.toast-error::before,
.toast-warning::before {
  font-family: bootstrap-icons !important;
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 24px;
}
.toast-info {
  color: #4154f1 !important;
  background-image: none !important;
  background-color: #f6f9ff !important;
  border: 1px solid #4154f1;
}
.toast-success {
  background-image: none !important;
  background-color: #59ce8f !important;
}
.toast-error {
  background-image: none !important;
  background-color: #ff1e00 !important;
}
.toast-warning {
  background-image: none !important;
}
.toast-info::before {
  content: "\F431";
}
.toast-error::before {
  content: "\F431";
}
.toast-success::before {
  content: "\F272";
}
.toast-warning::before {
  content: "\F33B";
}
.ng-select.ng-select-disabled:hover .ng-select-container {
  border-color: transparent !important;
  box-shadow: none !important;
}
.ng-select.ng-select-disabled > .ng-select-container {
  background-color: transparent !important;
}
.ng-select.ng-select-disabled .ng-arrow-wrapper {
  display: none !important;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: #f6f9ff !important;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon.left {
  border-right-color: #f6f9ff !important;
}
.table .form-select,
.table .form-control,
.table .input-group-text, .btn-toolbar .input-group .form-control, .btn-toolbar .input-group .btn-outline-secondary {
  background-color: #f6f9ff;
  border-color: #f6f9ff;
  color: #012970 !important;
}
.table .input-group-text.bg-transparent {
  background-color: #f6f9ff !important;
}
th .form-check,
td .form-check {
  margin-bottom: 0;
}
th .form-check .form-check-input,
td .form-check .form-check-input {
  margin-top: 0.35em;
}
.col40 {
  width: 40px;
}
.col100 {
  width: 100px;
}
.cell-breakAll {
  word-break: break-all;
}
.modal-backdrop {
  --bs-backdrop-zindex: 10001 !important;
}
.modal {
  --bs-modal-zindex: 10002 !important;
}
.min-w-100 {
  min-width: 100px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  position: relative;
  top: 1px;
}
.nav-tabs .nav-link {
  --bs-nav-link-padding-y: 5px !important;
  font-size: 0.8em !important;
}
.btn-dark {
  --bs-btn-bg: #012970 !important;
  --bs-btn-border-color: #012970 !important;

  --bs-btn-hover-bg: #586d93 !important;
  --bs-btn-hover-border-color: #586d93 !important;
  --bs-btn-focus-shadow-rgb: 65, 84, 241 !important;
}
.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}
.sub-title {
  font-size: 0.9em;
  font-weight: 600;
  margin: 35px 0 20px;
  display: flex;
  align-items: center;
}
.sub-title:after {
  content: "";
  width: 100%;
  flex: 1;
  height: 1px;
  background-color: #e2e5e9;
  margin-left: 10px;
}
.modal-title {
  font-size: 1em;
  font-weight: 700;
}
body,
html {
  height: 100%;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.box_empty {
  padding: 50px;
}
.tableFixHead thead th {
  background-color: #fff;
}
.table th a,
.table td a {
  text-decoration: none;
}
.table th a u,
.table td a u {
  text-decoration-line: none;
}
.nav-pills .nav-link,
.nav-tabs .nav-link {
  --bs-nav-link-color: #bcc8d3 !important;
}
.btn-primary {
  --bs-btn-bg: #4154f1 !important;
  --bs-btn-border-color: #4154f1 !important;
}
.btn-outline-secondary {
  --bs-btn-border-color: #f6f9ff !important;
  --bs-btn-color: #003057 !important;
  --bs-btn-bg: #fff !important;
}
.btn-outline-secondary:hover {
  color: #4254f1 !important;
  background-color: #f6f9ff !important;
  border-color: #5869f2 !important;
}
.input-group .btn-outline-secondary {
  --bs-btn-border-color: #ced4da !important;
}
.nav-pills .nav-item{ margin-right:10px}
.h-300 {
  height: calc(100vh - 350px) !important;
}
.h-310{
  height: calc(100vh - 310px) !important;
}
.h-200 {
  height: calc(100vh - 500px) !important;
}
@media (min-height:800px){
  .h-200 {
    height: calc(100vh - 582px) !important;
  }
}
.card {
  --bs-card-border-width: 0 !important;
}
.card-header {
  --bs-card-cap-bg: #fff !important;
}
.card-body {
  --bs-card-spacer-y: 0.5rem !important;
  --bs-card-spacer-x: 0.5rem !important;
}
.breadcrumb {
  margin-bottom: 5px !important;
}
.breadcrumb-item {
  font-size: 0.8em;
  padding: 5px 0;
}
.breadcrumb-item.active {
  --bs-breadcrumb-item-active-color: #bcc8d3 !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  --bs-nav-tabs-link-active-color: #012970 !important;
}
.nav-pills {
  --bs-nav-pills-link-active-color: #012970 !important;
  --bs-nav-pills-link-active-bg: #fff !important;
}
.nav-pills .nav-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.8em;
  font-weight: normal !important;
  border: 1px solid transparent !important;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  text-transform: capitalize !important;
  border-color: #4154f1 !important;
}
.pagetitle .btn-link.btn-sm {
  font-size: 0.7em !important;
  text-decoration: none;
}
.pagetitle .btn-link:hover {
  opacity: 0.8;
}
.have-divider-s {
  position: relative;
}
.have-divider-s:before {
  background-color: #dee2e6;
  height: 17px;
  width: 1px;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
.btn-toolbar.have-divider-s:before{margin-top: -8px;}
.filter-box {
  margin: 0 0 1em;
}
.filter-box .ng-select .ng-select-container {
  background-color: transparent;
  border-bottom-color: #7389b0 !important;
}
.filter-box .advance-filter .ng-select .ng-select-container,
.filter-box .advance-filter .form-floating > .form-control,
.filter-box .advance-filter .form-floating > .form-control-plaintext,
.filter-box .advance-filter .form-floating > .form-select {
  background-color: #f6f9ff;
  border-color: #f6f9ff;
  border-bottom-color: #e2e4f4 !important;
  border-bottom-width: 2px;
}
.card-header_overflow-chart.card-body {
  padding: 0 0 10px !important;
}
.card-header_overflow-chart-in {
  height: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  white-space: nowrap;
}
.card-header_overflow-tab-box .card_prv-btn,
.card-header_overflow-tab-box .card_nxt-btn {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 35px;
}
.col-form-label-sm,
.form-control-sm,
.form-select-sm,
.input-group-sm > .btn,
.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.8em !important;
}
.pagination-footer label,
.ngx-pagination li,
.pagination-sm .page-item .page-link {
  font-size: 0.8em;
}
.pagination-sm .page-item .page-link {
  border-color: transparent;
}
.pagination-footer .ngx-pagination {
  margin-bottom: 0;
}
.ngx-pagination .current, .page-item.active .page-link {
  background-color: transparent !important;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}
.page-item.active .page-link {
  z-index: 1;
  border-color: transparent;
}
.pagination-footer .form-select {
  border-color: transparent;
}
.pagination-footer .form-select:hover {
  border-color: transparent transparent #7389b0 !important;
}
.form-check-input:checked {
  background-color: #003057 !important;
  border-color: #003057 !important;
}
.btn-check:active + .btn-outline-secondary,
.btn-check:checked + .btn-outline-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show,
.btn-outline-secondary:active {
  color: #fff;
  background-color: #003057;
  border-color: #003057;
}
.nav-profile.dropdown-toggle:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 40px;
  background-color: #f6f9ff;
  display: block;
  border: 2px solid #fff;
}
.nav-profile.dropdown-toggle:before,
.nav-profile.dropdown-toggle:after {
  position: absolute;
}
.nav-profile.dropdown-toggle:before {
  right: 10px;
}
.nav-profile.dropdown-toggle:after {
  right: 12px;
}
.dropdown-toggle:after {
  transition: transform 0.1s linear;
}
.dropdown-toggle.show:after {
  transform: rotate(180deg);
  transition: transform 0.1s linear;
}
.ps.card-header_overflow-tab {
  height: auto;
}
.card-header_overflow-tab .ps-content {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.card-header_overflow-tab-box .card_prv-btn .btn,
.card-header_overflow-tab-box .card_nxt-btn .btn {
  top: 4px;
  position: absolute;
  padding: 0;
  width: 26px;
  height: 26px;
}
.card-header_overflow-tab-box:hover .card_prv-btn .btn {
  left: 0;
  transition: left 0.8s ease;
}
.card-header_overflow-tab-box .card_prv-btn .btn {
  left: -40px;
  transition: left 0.8s ease;
}
.card-header_overflow-tab-box:hover .card_nxt-btn .btn {
  right: 0;
  transition: right 0.8s ease;
}
.card-header_overflow-tab-box .card_nxt-btn .btn {
  right: -40px;
  transition: right 0.8s ease;
}
.card-header_overflow-tab {
  height: 34px;
}
.card-header_overflow-tab .form-check-input {
  margin-top: 0.35em;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #f5f5f5 !important;
  /*color: #444444;*/
  --bs-body-color: #003057;
}
.header_form [class*="col-"]:first-child {
  border-right: 1px solid #dee2e6;
}
.header_form [class*="col-"] {
  position: relative;
}
.header_form [class*="col-"] .invalid-feedback {
  position: absolute;
  background: #f5f5f5;
  font-size: 0.7em;
  top: 100%;
  right: 0;
  text-align: right;
}
.header_form .input-group .form-floating.form-floating-header .form-control,
.header_form .form-floating.form-floating-header .form-control,
.header_form .input-group .btn {
  border-radius: 0;
}
.header_form .input-group .form-floating.form-floating-header + .btn {
  background-color: transparent;
  border-color: transparent;
}
.header_form .input-group .form-floating.form-floating-header + .btn:hover,
.header_form .input-group .form-floating.form-floating-header + .btn:focus {
  background-color: #f8f9fa !important;
}
.header_form .form-floating > .form-select {
  padding: 1rem 35px 1rem 0.75rem;
}
.form-floating-header .col-form-label {
  opacity: 0.65;
  padding-bottom: 0;
  padding-top: 0;
}
.form-check-sm .form-check-label,
.form-floating-sm.form-floating .ng-select,
.form-floating-sm.form-floating > label,
.form-floating-header.form-floating > label,
.form-floating-header .col-form-label,
.tableFixHead {
  font-size: 0.8em;
}
.form-floating .form-control,
.form-floating .form-select {
  background-color: transparent;
}
.form-control {
  color: var(--bs-body-color) !important;
}
.form-floating-sm.form-floating ng-select + label,
.form-floating-header.form-floating ng-select + label {
  padding: 0.1rem 0.75rem;
  opacity: 0.65;
  font-size: 0.7em;
}
.form-floating-sm.form-floating ng-select.ng-select-opened + label,
.form-floating-header.form-floating ng-select.ng-select-opened + label {
  z-index: 9999;
}
.form-floating-sm.form-floating .ng-select .ng-select-container,
.form-floating-header.form-floating .ng-select .ng-select-container {
  border-color: transparent;
  border-radius: 0;
}
.form-floating-header.form-floating .ng-select-focused {
  background-color: #fff !important;
  border-color: rgba(13, 110, 253, 0.8);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(13, 110, 253, 0.6);
  outline: 0 none;
}
.form-floating-header.form-floating .ng-select .ng-select-container {
  border-bottom-color: #ced4da;
}
.form-floating-header.form-floating .ng-select .ng-select-container:disabled {
}
.form-floating-sm.form-floating .ng-select .ng-select-container {
  height: 42px;
}
.form-floating-header.form-floating .ng-select .ng-select-container {
  height: 57px;
  background-color: transparent;
}
.form-floating-sm.form-floating .ng-select:hover .ng-select-container {
  border-color: transparent transparent #7389b0;
}
.form-floating-sm.form-floating .ng-select {
  min-width: 135px;
}
.form-floating-header.form-floating
  .ng-select
  .ng-select-container
  .ng-value-container {
  padding-left: 12px;
  padding-top: 15px;
}
.form-floating-sm.form-floating
  .ng-select
  .ng-select-container
  .ng-value-container {
  padding-left: 12px;
  padding-top: 9px;
}
.form-floating-sm.form-floating
  .ng-select.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-input,
.form-floating-header.form-floating
  .ng-select.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-input {
  top: 17px;
}
.form-floating-sm.form-floating .ng-select span.ng-value-label,
.form-floating-header.form-floating .ng-select span.ng-value-label {
  font-weight: 700;
  color: #003057;
}
.form-floating-sm.form-floating > label {
  padding: 0.7rem 0.75rem;
}
.form-floating-sm.form-floating > .form-control-plaintext:focus,
.form-floating-sm.form-floating
  > .form-control-plaintext:not(:placeholder-shown),
.form-floating-sm.form-floating > .form-control:focus,
.form-floating-sm.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1rem;
  font-weight: 700;
}
.form-floating-sm.form-floating > .form-control,
.form-floating-sm.form-floating > .form-control-plaintext,
.form-floating-sm.form-floating > .form-select {
  height: calc(2.5rem + 2px);
  font-size: 0.8em;
  border-radius: 0;
  border-color: transparent transparent #7389b0;
}
.form-floating-sm.form-floating > .form-select {
  padding-top: 1rem;
}
.form-floating-header.form-floating .form-control {
  border-color: transparent transparent #ced4da transparent;
  font-weight: 600;
}
.form-floating-header.form-floating .form-control:hover {
  background-color: #fff;
}
.form-floating > .form-select {
  min-width: 100px;
}
.form-floating-header.form-floating .form-control:disabled {
  background-color: transparent;
  border-color: transparent;
  color: #003057;
}
.form-floating-header.form-floating .form-select:disabled {
  background-image: none;
}
.form-floating-header.form-floating .form-select option {
  font-weight: normal;
}
.btn_hv-label {
  position: relative;
  min-width: 100px;
  text-align: left !important;
  padding-right: 26px !important;
}
.btn_hv-label .label_button {
  position: absolute;
  left: 11px;
  font-size: 0.76em;
  top: 0px;
  color: #bcc8d3;
}
.btn_hv-label .item_seleted {
  font-size: 0.8em;
  font-weight: 700;
  padding-top: 6px;
  display: block;
}
.btn_hv-label.dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 7px;
}
.dropdown-item .form-check-input {
  margin-top: 0.35em;
}
.dropdown-item .form-check {
  cursor: pointer;
}
.dropdown_ct-scrll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 200px);
}
a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
app-integration-edit {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.scrollarea {
  overflow: auto;
  overflow-x: hidden;
}

#main {
  padding: 60px 20px 35px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 1199px) {
}

/*--------------------------------------------------------------
  # Page Title
  --------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}
.pagetitle h1 {
  font-size: 1.2em;
  margin-bottom: 0;
  font-weight: 900;
  color: #012970;
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
  # Override some default Bootstrap stylings
  --------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}
.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}
.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}
.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}
.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}
.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
  cursor: pointer;
}
.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
  cursor: pointer;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #2e7ab8;
  color: white;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: var(--bs-card-cap-bg);
  color: #798eb3;
  padding: 15px;
}

.card-title {
  /* padding: 20px 0 15px 0;
  font-size: 18px; */
  font-weight: 600;
  color: #586d93;
  /* font-family: "Poppins", sans-serif; */
  margin-bottom: 0 !important;
}
.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}
.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}
.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}
.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}
.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}
.breadcrumb a:hover {
  color: #51678f;
}
.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}
.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}
.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}
.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}
.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.logo {
  line-height: 1;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .logo {
    width: auto;
    transition: width 0.2s ease;
  }
  .toggle-sidebar-btn {
    margin-right: 15px;
  }
  /* .toggle-sidebar .logo{
    width: 26px;

  }
  .toggle-sidebar .logo span{
    display: none !important;
  } */
  .right_action-toolbar {
    position: relative !important;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    width: auto !important;
    border-top: 0 !important;
  }
}
.logo img {
  max-height: 26px;
  margin-right: 6px;
}
.logo span {
  font-size: 18px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  /* box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); */
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}
.header .toggle-sidebar-btn {
  font-size: 32px;
  cursor: pointer;
  color: #012970;
  padding: 7px 10px;
  height: 40px;
  line-height: 37px;
}
.header .toggle-sidebar-btn:before {
  vertical-align: baseline;
  position: relative;
  top: -3px;
}
.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}
@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }
  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}
.header .search-form {
  width: 100%;
}
.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}
.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}
.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}
.header .search-form button i {
  color: #012970;
}

/*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}
.header-nav > ul {
  margin: 0;
  padding: 0;
}
.header-nav .nav-icon {
  font-size: 20px;
  color: #012970;
}
.header-nav .nav-profile {
  color: #012970;
}
.header-nav .nav-profile img {
  max-height: 36px;
}
.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}
.header-nav .badge-number {
  position: absolute;
  inset: 4px 6px auto auto;
  font-weight: normal;
  font-size: 11px;
  padding: 3px 6px;
}
.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}
.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}
.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}
.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}
.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}
.header-nav .messages .message-item a {
  display: flex;
}
.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}
.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}
.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}
.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}
.header-nav .profile {
  min-width: 320px;
}
.header-nav .profile .dropdown-header {
  color: #003057;
}
.header-nav .profile .dropdown-header h6 {
  margin-bottom: 0;
  font-weight: 600;
}
.header-nav .profile .dropdown-header span {
  font-size: 14px;
}
.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}
.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}
.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}
/*--------------------------------------------------------------
  # Right action
  --------------------------------------------------------------*/
.right_action-toolbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: auto;
  z-index: 999;
  padding: 15px;
  background: #fff;
  width: 100%;
  border-top: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color);
}
/*--------------------------------------------------------------
  # Sidebar
  --------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 10000;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}
@media (max-width: 1199px) {
  /* .sidebar {
    left: -300px;
  } */
  .toggle-sidebar .sidebar {
    left: -300px;
  }
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 300px;
  }
}
/* @media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
} */
@media (min-width: 1200px) {
  /* .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  } */
  /* .toggle-sidebar .sidebar {
    left: -300px;
  } */
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 87px;
  }
  .toggle-sidebar .sidebar {
    left: 0;
    width: 87px;
    overflow-x: hidden;
  }

  .toggle-sidebar .sidebar .nav-link i + span,
  .toggle-sidebar .sidebar .nav-link.btn-toggle:before {
    opacity: 0;
  }
  .toggle-sidebar .sidebar .btn-toggle-nav {
    display: none;
  }
  .toggle-sidebar .sidebar:hover {
    left: 0;
    width: 300px;
  }
  .toggle-sidebar .sidebar:hover .nav-link i + span,
  .toggle-sidebar .sidebar:hover .nav-link.btn-toggle:before {
    opacity: 1;
  }
  .toggle-sidebar .sidebar:hover .collapse.show {
    display: block;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-item {
  margin-bottom: 5px;
}
.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}
.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #012970;
  transition: 0.3;
  padding: 10px 15px;
  border-radius: 4px;
}
.sidebar-nav .nav-link.active {
  color: #012970;
  font-weight: 600;
  background: #f6f9ff;
}
.sidebar-nav .nav-link.active i {
  color: #4154f1;
}
.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
}
.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}
.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}
.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: #f6f9ff;
}
.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}
.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}
.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}
.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}
.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}
.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}
.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

/*--------------------------------------------------------------
  # Dashboard
  --------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}
.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}
.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}
.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}
.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}
.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}
.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}
.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}
.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}
.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

/* Activity */
.dashboard .activity {
  font-size: 14px;
}
.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}
.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}
.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}
.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}
.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}
.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

/* News & Updates */
.dashboard .news .post-item + .post-item {
  margin-top: 15px;
}
.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}
.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}
.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}
.dashboard .news h4 a:hover {
  color: #4154f1;
}
.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales {
  font-size: 14px;
}
.dashboard .recent-sales .table thead {
  background: #f6f6fe;
}
.dashboard .recent-sales .table thead th {
  border: 0;
}
.dashboard .recent-sales .dataTable-top {
  padding: 0 0 10px 0;
}
.dashboard .recent-sales .dataTable-bottom {
  padding: 10px 0 0 0;
}

/* Top Selling */
.dashboard .top-selling {
  font-size: 14px;
}
.dashboard .top-selling .table thead {
  background: #f6f6fe;
}
.dashboard .top-selling .table thead th {
  border: 0;
}
.dashboard .top-selling .table tbody td {
  vertical-align: middle;
}
.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 60px;
}

/*--------------------------------------------------------------
  # Icons list page
  --------------------------------------------------------------*/
.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}
.iconslist .icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}
.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}
.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

/*--------------------------------------------------------------
  # Profie Page
  --------------------------------------------------------------*/
.profile .profile-card img {
  max-width: 120px;
}
.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}
.profile .profile-card h3 {
  font-size: 18px;
}
.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}
.profile .profile-card .social-links a:hover {
  color: #012970;
}
.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}
.profile .profile-overview .card-title {
  color: #012970;
}
.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}
.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}
.profile .profile-edit img {
  max-width: 120px;
}

/*--------------------------------------------------------------
  # F.A.Q Page
  --------------------------------------------------------------*/
.faq .basic h6 {
  font-size: 18px;
  font-weight: 600;
  color: #4154f1;
}
.faq .basic p {
  color: #6980aa;
}

/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
.contact .info-box {
  padding: 28px 30px;
}
.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type="submit"] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #5969f3;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
  # Error 404
  --------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}
.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}
.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}
.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}
.error-404 .btn:hover {
  background: #3e4f6f;
}
@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}
.footer .copyright {
  text-align: center;
  color: #012970;
}
.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}
.line-loading {
  width: 100%;
  height: 5px;
  position: relative;
  margin: 0 auto;
}

.line-loading:before {
  content: "";
  position: absolute;
  right: auto;
  left: 0;
  height: 100%;
  background-color: #55cafd;
  animation: lineLoading 1s forwards infinite linear;
}
.pointer {
  cursor: pointer;
}
.btn-toggle {
  position: relative;
  cursor: pointer;
}
.btn-toggle:before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  position: absolute;
  right: 10px;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-toggle-nav {
  margin: 0;
  padding: 0;
}
.btn-toggle-nav > li {
  display: block;
}
.btn-toggle-nav > li a {
  color: #003057;
  display: block;
  text-decoration: none;
  padding: 10px 15px 10px 37px;
}
.btn-toggle-nav > li a:hover,
.btn-toggle-nav > li a.active {
  color: #012970;
  background: #f6f9ff;
  border-radius: 40px;
}
.btn-toggle-nav > li a.active {
  color: #4154f1;
}

@keyframes lineLoading {
  0% {
    right: 100%;
  }

  50% {
    right: 0;
    left: 0;
  }

  100% {
    right: 0;
    left: 100%;
  }
}
