<main id="main" class="main">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/" title="Home"><i class="bi bi-house"></i></a>
      </li>
      <li class="breadcrumb-item active">Notification Setup</li>
    </ol>
  </nav>
  <div class="pagetitle d-flex justify-content-between">
    <h1>Notification Setup</h1>
    <div></div>
  </div>
  <section class="section filter-box">
    <form [formGroup]="notificationForm">
      <div class="d-flex flex-nowrap justify-content-start">
        <div class="">
          <div class="d-flex">
            <div class="pe-1">
              <div class="form-floating form-floating-sm">
                <input type="text" class="form-control" formControlName="Name" />
                <label for="Name">Name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="align-self-center p-2">
          <button (click)="btnReset()" type="button" class="btn btn-outline-secondary btn-sm me-2">
            Reset
          </button>
          <button (click)="btnSearch()" title="Search" type="button" class="btn btn-dark btn-sm">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </form>
  </section>
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
            <button *ngIf="roles.indexOf(globalEnumResult.ActionEnum.notificationSettingsManage)!==-1"
              (click)="btnAdd()" type="button" class="btn btn-outline-secondary">
              <i class="bi bi-plus-circle text-primary me-1"></i> Add
            </button>
          </div>
          <div class="btn-group btn-group-sm" role="group" aria-label="Third group">
            <button *ngIf="roles.indexOf(globalEnumResult.ActionEnum.notificationSettingsManage)!==-1"
              (click)="openModal(deleteNotification)" type="button" class="btn btn-outline-secondary">
              <i class="bi bi-trash"></i> Delete
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="tableFixHead table-responsive h_scrll-md">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th class="col40 text-center">
                  <input type="checkbox" (change)="isCheckAll($event)" [(ngModel)]="isCheckallrs"
                    class="form-check-input" />
                </th>
                <th class="col text-start">Name</th>
                <th class="col text-start">KPIs</th>
                <th class="col text-start">Notification Option</th>
                <th class="col-4 text-start">Emails</th>
                <th class="col100 text-center">Enabled</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let item of notificationData.listItem
                    | paginate
                      : {
                          itemsPerPage: notificationData.pageSize,
                          currentPage: notificationData.pageIndex,
                          totalItems: notificationData.totalRecords
                        }
                ">
                <td style="text-align: center">
                  <input type="checkbox" id="checkboxitem" [(ngModel)]="item.isCheck" class="form-check-input" />
                </td>
                <td class="cell-breakAll">
                  <a (click)="editNotification(item.id)" href="javascript:void(0)"><u>{{ item.name }}</u></a>
                </td>
                <td>
                  <span *ngFor="let i of item.kpi; let last = last">{{ i.kpiName }}<span *ngIf="!last">;</span></span>
                </td>
                <td *ngIf="item.notificationOption == 1">Email</td>
                <td *ngIf="item.notificationOption == 2">Message</td>
                <td>{{ item.emails }}</td>
                <td style="text-align: center" *ngIf="item.isActive == false">
                  <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Off</label>
                    <input *ngIf="roles.indexOf(globalEnumResult.ActionEnum.notificationSettingsOnOff)!==-1"
                      class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="item.isActive"
                      (click)="toggleNotification(item.id, $event)" />
                  </div>
                </td>
                <td style="text-align: center" *ngIf="item.isActive == true">
                  <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckChecked">On</label>
                    <input *ngIf="roles.indexOf(globalEnumResult.ActionEnum.notificationSettingsOnOff)!==-1"
                      class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="item.isActive"
                      (click)="toggleNotification(item.id, $event)" />
                  </div>
                </td>
              </tr>
              <tr *ngIf="notificationData.listItem.length == 0">
                <td colspan="100%" class="text-center font-weight-bold border-bottom-0">
                  <div class="box_empty">
                    <img src="assets/img/no-data.gif" width="100" />
                    <h6 class="text-muted">No Data!</h6>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer pagination-footer bg-white d-flex justify-content-end g-3 align-items-center">
        <div class="row align-items-center">
          <label class="col-auto col-form-label" for="hf-password">Show</label>
          <div class="col-auto" style="margin-top: 7px">
            <select (change)="onTableSizeChange(pagingSize)" class="form-select form-select-sm"
              [(ngModel)]="pagingSize">
              <option *ngFor="let size of tableSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
          <label class="col-auto col-form-label" for="hf-password">Entries</label>
        </div>
        <div class="row align-items-center">
          <pagination-controls [responsive]="true" previousLabel="Prev" nextLabel="Next"
            (pageChange)="onTableDataChange($event)" class="pagination-sm">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</main>
<ng-template #deleteNotification>
  <form class="form-horizontal">
    <div class="modal-content" style="width: 500px">
      <div class="modal-header border-bottom-0">
        <!-- <h4 class="modal-title">Confirm deletion</h4> -->
        <button type="button" class="btn-close close" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Confirm deletion?</span>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-sm btn-dark min-w-100" (click)="btnDelete()">
          Yes
        </button>
        <button type="close" class="btn btn-sm min-w-100" (click)="onClose()">
          No
        </button>
      </div>
    </div>
  </form>
</ng-template>